html{
    background-color: rgb(225, 225, 248);
}

.par1{
    color: brown;
}

.aligncenter {
    text-align: center;
}

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.textcols-item {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 48%;
	background: #fff2e1;
}
.textcols-item + .textcols-item {
	margin-left: 4%;
}


div.block{
    display:inline-block;
    padding:25px;
    margin:15px;
}
div.block:hover{
    margin:5px;
    padding:35px;
}